<ng-container *ngIf="match; else loading">
  <mat-tab-group class="h-100">
    <mat-tab label="Información general">
      <div
        class="row m-0 p-0 py-3 w-100 align-items-center h-100 flex-wrap d-flex flex-column justify-content-evenly"
      >
        <div class="col-12 m-0 p-0">
          <div
            class="row p-0 m-0 my-3 px-1 d-flex align-items-start justify-content-between"
          >
            <section
              class="position-relative d-flex my-2 col-6 justify-content-center align-items-start align-items-sm-center"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="desktop"
                  [src]="teamAShield | externalResource"
                  alt=""
                  srcset=""
                />
                <!-- <img
                  *ngIf="!isDesktop"
                  [src]="teamA.team.miniShield"
                  alt=""
                  srcset=""
                /> -->
              </div>
            </section>
            <section
              class="position-relative d-flex my-2 col-6 justify-content-center align-items-start align-items-sm-center"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <!-- <img
                  *ngIf="!isDesktop"
                  [src]="teamB.team.miniShield"
                  alt=""
                  srcset=""
                /> -->
                <img
                  class="desktop"
                  [src]="teamBShield | externalResource"
                  alt=""
                  srcset=""
                />
              </div>
            </section>
          </div>
          <div class="row d-flex justify-content-center">
            <div
              class="col-5 team-name-container border-solid-primary p-0 d-flex align-items-center justify-content-between"
            >
              <div class="team-name">{{ teamA.team.name }}</div>
              <div class="display bgc-primary text-white" *ngIf="match.score">
                {{ match.score.teamA }}
              </div>
            </div>

            <div
              class="col-5 team-name-container border-solid-primary p-0 d-flex align-items-center justify-content-between"
            >
              <div class="display bgc-primary text-white" *ngIf="match.score">
                {{ match.score.teamB }}
              </div>

              <div class="team-name">{{ teamB.team.name }}</div>
            </div>
          </div>
          <div class="row my-3 px-3 d-flex align-items-center">
            <div class="d-flex col-5 justify-content-center">
              <img
                class="card"
                src="../assets/yellow-card.png"
                alt=""
                srcset=""
              />
              <strong class="mx-2">{{ yellowCardsTeamA }}</strong>
              <strong class="mx-2">{{ redCardsTeamA }}</strong>
              <img class="card" src="../assets/red-card.png" alt="" srcset="" />
            </div>
            <span class="col-2 text-center"> </span>
            <div class="d-flex col-5 justify-content-center">
              <img
                class="card"
                src="../assets/yellow-card.png"
                alt=""
                srcset=""
              />
              <strong class="mx-2">{{ yellowCardsTeamB }}</strong>
              <strong class="mx-2">{{ redCardsTeamB }}</strong>
              <img class="card" src="../assets/red-card.png" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="col-12 position-relative">
          <ng-container *ngIf="formGroup">
            <div class="row align-items-center justify-content-center">
              <div
                class="col-12 col-xxl-6 d-flex justify-content-center flex-column"
                *ngIf="
                  match.date ||
                  ($location && ($location | async)) ||
                  match.playground
                "
              >
                <div>
                  <strong>Estado: </strong>
                  <span class="status px-3 rounded">{{
                    matchStatus[status]
                  }}</span>
                </div>

                <div *ngIf="match.date">
                  <strong>Fecha: </strong>
                  <span>{{ match.date | date }}</span>
                </div>

                <div *ngIf="$location && ($location | async)">
                  <strong>Centro Deportivo: </strong>
                  <span>{{ ($location | async)?.name }}</span>
                </div>

                <div *ngIf="match.playground">
                  <strong>Cancha: </strong>
                  <span>{{ match.playground.name }}</span>
                </div>

                <div *ngIf="match.date">
                  <strong>Hora: </strong>
                  <span>{{ match.date | date : "hh:mm" }}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Asistencia y estadísticas">
      <ng-template #noContentTeam>
        <p class="text-center">No hay contenido para mostrar en el momento</p>
      </ng-template>
      <div class="cont px-1">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <div
                class="my-2 py-2 justify-content-center text-center d-flex align-items-center team-container"
              >
                <app-team-summary-card [team]="teamA.team" [show-name]="false" [show-category]="false">
                </app-team-summary-card>
              </div>
            </ng-template>
  
            <app-player-form-visualization
              *ngIf="
                match &&
                  match.playerForm &&
                  match.playerForm.teamA &&
                  match.playerForm.teamA.length > 0 &&
                  teamA.members &&
                  teamA.members.length > 0;
                else noContentTeam
              "
              [members]="teamA.members"
              [team]="teamA.team"
              [players-form]="match.playerForm.teamA"
              [stadistics]="match.stadistics?.teamA || []"
            >
            </app-player-form-visualization>
  
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <div
                class="my-2 py-2 justify-content-center text-center d-flex align-items-center team-container"
              >
                <app-team-summary-card [team]="teamB.team" [show-name]="false" [show-category]="false">
                </app-team-summary-card>
              </div>
            </ng-template>
  
            <app-player-form-visualization
              *ngIf="
                match &&
                  match.playerForm &&
                  match.playerForm.teamB &&
                  match.playerForm.teamB.length > 0 &&
                  teamB.members &&
                  teamB.members.length > 0;
                else noContentTeam
              "
              [members]="teamB.members"
              [team]="teamB.team"
              [players-form]="match.playerForm.teamB"
              [stadistics]="match.stadistics?.teamB || []"
            >
            </app-player-form-visualization>
  
          </mat-tab>
        </mat-tab-group>
     
      </div>
    

    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #loading>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <app-default-loading></app-default-loading>
  </div>
</ng-template>
