<app-sidenav [options]="menuOptions">
  <div class="container h-100 py-3 px-3">
    <div class="row mb-3">
      <header *ngIf="organization" class="text-center">
        <h1 class="">Torneos {{ organization.name }}</h1>
      </header>
    </div>

    <div class="row mt-3" *ngIf="tournamentLayouts">
      <ng-container *ngIf="tournamentLayouts.length > 0; else noTournaments">
          <app-tournament-layout-card
            class="mt-3 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2"
            *ngFor="let tournamentLayout of tournamentLayouts"
            [tournament-layout]="tournamentLayout"
            [organization]="organization"
            (click)="goToTournamentList(tournamentLayout.id)"
          >
          </app-tournament-layout-card>
      </ng-container>

      <ng-template #noTournaments>
        <div
          class="mt-5 d-flex h-100 justify-content-center align-items-center"
        >
          <app-no-content text="No hay torneos por el momento" class="">
          </app-no-content>
        </div>
      </ng-template>
    </div>
  </div>
</app-sidenav>
