<div
  class="row w-100 h-100 d-flex justify-content-center align-items-center m-0"
>
  <section
    class="d-flex flex-column justify-content-center align-items-center p-3 col-12 col-md-5"
  >
    <h1>Agregar un jugador</h1>
    <p>
      Si el jugador ya existe, diligencia en el cuadro de texto la
      identificación del mismo. Si no estás seguro, igual prueba primero
    </p>
    <button color="primary" mat-icon-button>
      <!-- <mat-icon>trending_flat</mat-icon> -->
      Ir
    </button>
  </section>

  <section
    class="d-flex flex-column justify-content-center align-items-center p-3 col-12 col-md-5 mt-3 mt-md-0 ms-md-3"
  >
    <h1>Crear un jugador nuevo</h1>
    <p>
      Si el jugador no existe, puedes registrarlo y automáticamente quedará
      registrado en tu equipo.
    </p>
    <button color="primary" mat-icon-button>
      <!-- <mat-icon>trending_flat</mat-icon> -->
      Ir
    </button>
  </section>
</div>
