<div class="row h-100 w-100">
  <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
    <img src="./assets/thinking.png" alt="" srcset="" />
  </div>
  <div
    class="col-12 col-md-7 d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="txt-primary my-3 text-center">¡¡¡Queremos saber tu ubicación!!!</h1>
    <p class="text-justify px-3">
     Es muy importante que podamos saber tu ubicación. La usamos para ofrecerte la mejor experiencia dentro de nuestra plataforma, como la búsqueda de torneos, la configuración de los mismos (en caso de que seas un organizador) y demás.
    </p>
    <div>
      <button mat-stroked-button color="primary" (click)="close()">Aceptar</button>
    </div>
  </div>
</div>
