<div class="container-fluid w-100 p-0 m-0 h-100">
  <div class="row pos-relative">
      <figure class="col-12 col-sm-8 col-md-5 col-lg-4 d-flex align-items-center">
        <img class="w-100" src="assets/index/prev.jpg" alt="" srcset="" />
      </figure>
      <div class="col-12 col-sm-4 col-md-7 col-lg-8">

        <ng-container *ngIf="tournaments">
          <ng-container *ngIf="tournaments.length > 0; else noData">
            <div class="row w-100 p-0 m-0 py-3 my-2 border-solid-primary">
              <h1 class="txt-primary">Torneos en marcha</h1>
            </div>
            <div class="row pb-3 my-3">
              <div class="col-12 ">
                <div class="row w-100 d-flex flex-nowrap">
                  <app-tournament-card
                    class="col-8 col-sm-5 col-md-5 col-lg-4"
                    *ngFor="let tour of tournaments"
                    [tournament]="tour.tournament"
                    [tournament-layout]="tour.tournamentLayout"
                    (click)="goToTournamentDetail(tour.tournament.id!)"
                  >
                  </app-tournament-card>
                
                </div>
              </div>
            </div>
          </ng-container>
      
          <ng-template #noData>
            <div class="row w-100 d-flex justify-content-center mt-3">
              <app-no-content text="No hay torneos en curso"></app-no-content>
            </div>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="!tournaments">
          <div class="row w-100 mt-3">
            <div class="d-flex col">
              <app-skeleton class="mx-2" width="33%" height="250px"></app-skeleton>
              <app-skeleton class="mx-2" width="33%" height="250px"></app-skeleton>
              <app-skeleton class="mx-2" width="33%" height="250px"></app-skeleton>
            </div>
          </div>
        </ng-container>


      </div>
 
      
  </div>
 
        <div
        (click)="consult()"
          class="shadow rounded py-3 px-2 d-flex justify-content-center flex-column align-items-center h-50 bgc-primary"
        >
          <p class="text-center">
           Puedes buscar torneos pasados, y filtrarlos por la organización que los organizó.
          </p>
          <button mat-raised-button color="accent" >
            Consulte aquí
          </button>
        </div>


</div>
