:host{
    height: 100%;
    display: flex;
    background-color: white;
    aside{
        overflow-y: auto;
        height: 100%;
    }
    section{
        height: 100%;
        overflow-y: auto;
   
    }
    strong{
        font-weight: bolder !important;
    }

}