:host {
  height: 100%;
  padding: 0;
  @extend .container !optional;

  mat-card {
    border: 1px solid #24abc1;
  }
  .cat {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    // border-top-right-radius: 10px;
    // border-top-left-radius: 10px;
    background-color: #24abc1;
  }
}
