@import "../../../../../../../../colors.scss";
:host {
  height: 100%;
  position: relative;
  .loading {
    height: 200px;
  }
  .status {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 0.5px 3px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 10px;
    cursor: pointer;
  }
  .pre-registered {
    background-color: white;
    color: $warnColor;
    border: 1px solid $warnColor;
  }
  .enabled {
    background-color: white;
    color: $primaryColor;
    border: 1px solid $primaryColor;
  }
  app-team-summary-basic-card{
    cursor: pointer;
  }
}
