@import '../../../../../colors.scss';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  span {
    color: $primaryColor;
  }
  img {
    width: 100%;
    max-width: 180px;
  }
}
