<article class="p-0 m-0">
  <section
    class="content bgc-secondary text-white w-100 d-flex justify-content-center flex-column align-items-center"
  >
    <strong class="text-center px-2">
      <span>
        {{ team.name }}
      </span>
    </strong>
  </section>
  <figure >
    <div *ngIf="options" class="d-flex justify-content-center actions">
      <ng-container *ngFor="let option of options; let i = index">
        <ng-container *ngIf="option.enable(option)">
          <div
        
            [ngStyle]="{
              'background-color': option.background,
              color: option.color
            }"
          >
            <mat-icon (click)="emitSelectedOption(i)" role="button">
              {{ option.icon }}
            </mat-icon>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <img
      [src]="(img | externalResource) || 'assets/badge-team.png'"
      [attr.alt]="'Foto del escudo del equipo' + team.name"
    />
  </figure>
  <section class="extra data w-100 ">
    <div *ngIf="showCategory" class="cat d-flex justify-content-center">
      <strong class="text-white px-2 py-1 text-center">{{
        team.category
      }}</strong>
    </div>
    <div *ngIf="showCategory" class="cat d-flex justify-content-center">
      <strong class="text-white px-2 py-1 text-center"> {{ team.city }}</strong>
    </div>
  </section>


</article>
