<mat-drawer-container class="h-100">
  <mat-drawer position="end" [mode]="mode">
    <ng-container *ngIf="options">
      <mat-list>
        <ng-container *ngFor="let item of options">
          <ng-container *ngIf="item.enable(item)">
            <mat-list-item (click)="execute(item.handler)">
              <mat-icon
                *ngIf="item.icon"
                [ngStyle]="{
                  'background-color': item.background,
                  color: item.color
                }"
                mat-list-icon
                >{{ item.icon }}</mat-icon
              >
              {{ item.display }}
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>
      <ng-content select="[extraMenu]"></ng-content>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
    <ng-container *ngIf="showIcon">
      <div
        class="trigger-button d-flex justify-content-center align-items-center"
        *ngIf="showTriggerButton"
        (click)="togleMenu()"
      >
        <mat-icon>{{ icon }}</mat-icon>
      </div>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>
