@import "../../../../../colors.scss";
:host {
  height: 100%;
  padding: 10px;
  .stage-config {
    position: relative;
    overflow-x: hidden;
    .delete-stage-config {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
    .add-stage-config {

    }
  }
  .no-hex {
    clip-path: initial;
  }
  h2 {
    text-align: center;
  }

  form {
    padding: 30px 20px;
    overflow-y: auto;
    @media screen and (max-width: 768px) {
      padding: 10px 10px;
      overflow-x: hidden;
    }
  }
  img {
    width: 100%;
  }
  .text-pointer {
    cursor: pointer;
  }
}
