<a *ngIf="link" (click)="addCounter()" target="_blank" [href]="link">
  <img src="https://firebasestorage.googleapis.com/v0/b/deporty-dev.appspot.com/o/ads%2FAZ07pG6XOBC9GWfhVmMo%2Fmd.png?alt=media&token=4ff3fee5-f24b-4a96-bc7a-79ab1f21d159" alt="" srcset="" />
  <button  mat-button mat-raised-button>CLICK</button>
</a>
<img src="https://firebasestorage.googleapis.com/v0/b/deporty-dev.appspot.com/o/ads%2FAZ07pG6XOBC9GWfhVmMo%2Fmd.png?alt=media&token=4ff3fee5-f24b-4a96-bc7a-79ab1f21d159" alt="" srcset="" />
