<ng-container *ngIf="value">
  <label *ngIf="label" for="label" class="">
    <strong>
      {{ label }}
    </strong>
  </label>
  <div class="d-flex w-100 justify-content-evenly flex-wrap">
    <ng-container *ngFor="let item of value; let i = index">
      <input
        #myInput
        [type]="dataType"
        [class]="'input ' + size"
        (input)="updateValue($event, i)"
        id="{{ 'k' + i }}"
        [value]="value[i]"
        [placeholder]="
          placeholders && i < placeholders.length ? placeholders[i] : ''
        "
      />
    </ng-container>
  </div>
</ng-container>
