<table class="mt-5">
  <thead>
    <tr>
      <th class="px-2">Pos</th>
      <th>Equipo</th>

      <th
        *ngFor="let item of orderToUse"
        [matTooltip]="stadisticMap[item].tooltip"
      >
        {{ stadisticMap[item].display }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of data; let i = index">
      <td>{{ i + 1 }}</td>
      <td class="d-flex flex-nowrap pe-4 me-2 limit">
        <app-team-summary-card
          [show-category]="false"
          [team]="teams[result.teamId] | async"
        >
        </app-team-summary-card>
      </td>

      <td
      class="px-3"
        *ngFor="let item of orderToUse"
        [ngClass]="{ decoration: stadisticMap[item].decoration }"
      >
        {{ result.stadistics[stadisticMap[item].property] }}
      </td>
    </tr>
  </tbody>
</table>
