<div class="container-fluid">
  <section
    class="row main d-flex flex-column justify-content-center align-items-center"
  >
    <header class="text-center my-2">
      <h1 class="title">
        Bienvenido a
        <span class="font-weight-bold text-uppercase">Deporty</span>
      </h1>
    </header>
    <!-- <figure class="col-12 col-sm-10 col-md-10 col-lg-2 col-xl-2">
      <img
        class="w-100 rounded-circle"
        src="assets/brand/deporty-isologotipo.jpg"
        alt="Logotipo de Deporty"
      />
    </figure> -->
    <p class="regular-text text-center my-3">
      Somos una empresa que busca llevar la experiencia de los deportes a un
      nivel más allá. Queremos que te sientas como si estuvieras en las grandes
      ligas.
    </p>
  </section>
  <section class="row text-center align-items-center">
    <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9">
      <h2 class="title">
        Si administras torneos no dudes en trabajar con nosotros
      </h2>

      <mat-list role="list">
        <mat-list-item role="listitem">Gestión de grupos</mat-list-item>
        <mat-list-item role="listitem"
          >Visualización de estadísticas</mat-list-item
        >
        <mat-list-item role="listitem">Tabla de posiciones</mat-list-item>
        <mat-list-item role="listitem">Próximas fechas</mat-list-item>
        <mat-list-item role="listitem">Creación de fixture</mat-list-item>
        <mat-list-item role="listitem"
          >Interfaz sencilla e intuitiva</mat-list-item
        >
      </mat-list>
    </div>
    <!-- <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
      <figure>
        <img class="w-100" src="assets/landing/tournament-manage.jpg" alt="" />
      </figure>
    </div> -->
    <div class="col my-3">
      <button
        mat-raised-button
        [routerLink]="['./quotation']"
        color="primary"
        class="text-uppercase"
      >
        ¡ Quiero mi cotización !
      </button>
    </div>
  </section>
  <div class="row my-2 py-2 text-center">
    <figure class="w-100">
      <img class="w-100" src="assets/landing/people.jpg" alt="" />
    </figure>
    <h2 class="title">Nuestra comunidad crece, sé parte de ella</h2>
  </div>
</div>
