<article class="border">
  <img
    *ngIf="img"
    (click)="onClick.emit(tournament)"
    src="{{ img }}"
    class="w-100 border"
    alt="   "
  />
  <header *ngIf="tournamentLayout">
    <h2 class="text-center ms-3 me-3 py-1 my-1 fw-bold text-wrap">
      {{ tournamentLayout.name }}
    </h2>
  </header>

  <section class="px-2">
    <p class="text-start m-0 mb-2 mt-1 ms-2">
      <mat-icon> category </mat-icon>
      <strong> Categoría: </strong>
      {{ tournament.category }}
    </p>
    <p *ngIf="tournament.edition" class="text-start m-0 mb-2 mt-1 ms-2">
      <mat-icon> e_mobiledata </mat-icon>
      <strong> Edición: </strong>
      {{ tournament.edition }}
    </p>
  </section>
  <footer
    role="button"
    (click)="openBottomSheet()"
    class="w-100 py-2 text-center fw-bold"
  >
    Ver detalles
    <mat-icon class="ms-2"> chevron_right </mat-icon>
  </footer>
</article>
