@import "../../../../../../colors.scss";

:host {
  position: relative;

  article.normal {
    img {
      border-radius: 20px;
      cursor: pointer;
    }
    border-radius: 20px;
    background-color: white;
  }
  article.small {
    img {
      cursor: pointer;
    }
    background-color: white;
  }
}
