@import "../../../../../../colors.scss";

:host {
  position: relative;

  .layout-name {
    min-height: 42px;
  }

  img {
    border-radius: 20px;
    cursor: pointer;
  }
  article{
    border-radius: 20px;
    background-color: white;

  }
}
