<mat-icon
  color="primary"
  (click)="draw()"
  aria-hidden="false"
  aria-label="Example home icon"
>
  refresh
</mat-icon>

<div class="row d-flex flex-column align-items-evenly h-100">
  <ng-container *ngIf="isValid">
    <div
      class="col  d-flex justify-content-evenly align-items-center w-100"
      *ngFor="let match of tree"
    >
      <strong>{{ match[0] }}</strong>
      <span class="">vs</span>
      <strong>{{ match[1] }}</strong>
    </div>
  </ng-container>
  <ng-template #invalid>
    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
      <p>Configuración incorrecta</p>
    </div>
  </ng-template>
</div>
