@import '../../../../../../colors.scss';
:host {
  overflow-y: auto;
  height: 100%;
  display: block;
  position: relative;

  .cont{
    overflow: auto;
    height: calc(100% - 106px);
  }

  header{
    background-color: $secondaryColor;
    color: white;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 106px;
  }
}
