@use "../../../../../colors.scss" as *;
:host {
  padding: 2px;
  margin: 3px 0;
  display: flex;
  align-items: center;

  a {
    // color: $accentColor;
    // background-color: $secondaryColor;
    color: $secondaryColor;
    background-color: $accentColor;

    cursor: pointer;
    text-decoration: none;
    &:hover {
      // text-decoration: underline;
      color: initial;
      // background-color: white;

      font-weight: bold;
      // border: 1px solid $primaryColor;
      transition: 0.3s;
    }
    padding: 1px 4px;
    margin: 3px;
    border-radius: 10px;
  }
}
