<div class="container-fluid bg-transparent p-0 px-sm-1">
  <div
    class="row w-100 flex-wrap d-flex justify-content-center pt-2 pb-3 bg-transparent"
  >
    <section
      class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 col-xxl-4 h-xxl-100 pt-2 pb-2 p-xxl-1  overflow-auto"
    >
      <mat-card *ngIf="tournament"  [class]="'py-4 mb-3 bgc-primary '+ tournament.financialStatements.status">
        <div class="text-center">
          <strong class="">Costo:</strong>
          <strong class="ms-2">{{ tournament.financialStatements.amount |currency: 'COP': 'symbol': '2.2' }}</strong>
        </div>
      </mat-card>
      <mat-card *ngIf="currentTeamsByDate">
        <mat-card-content>
          <h2 class="mb-3 mt-2 text-center">
            Reporte de tarjetas en orden de fecha
          </h2>
          <div class="w-100" *ngIf="selectKeys && selectKeys.length">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select
                placeholder="Fecha"
                [(value)]="dateSelectedKey"
                (selectionChange)="updateDateKey($event)"
              >
                <mat-option *ngFor="let sk of selectKeys" [value]="sk">
                  {{ sk }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="" *ngIf="!selectKeys">
            <app-default-loading> </app-default-loading>
          </div>
          <div class="text-center" *ngIf="selectKeys && !selectKeys.length">
            <app-no-content text="No hay información para mostrar">
            </app-no-content>
          </div>
          <div
            class="d-flex align-content-center border-bottom flex-column py-2"
            *ngFor="let team of currentTeamsByDate"
          >
            <div>
              <app-team-summary-card class="my-2" [team]="team.team">
              </app-team-summary-card>
            </div>
            <div>
              <div
                *ngFor="let member of team.members"
                class="d-flex row w-100 justify-content-between my-2"
              >
                <div class="d-flex flex-column justify-content-center col-10 p-0">
                  <app-member-summary-card
                    [memberDescription]="member.user"
                    alingment="horizontal"
                    [show-indicator] = 'false'
                  ></app-member-summary-card>

                  <div>
                    {{ team.date | date }}
                  </div>
                </div>

                <div class="d-flex col-2 d-flex flex-column align-items-center justify-content-center">
                  <div class="d-flex mx-2 align-items-center">
                    <img
                      class="card me-1"
                      src="../assets/yellow-card.png"
                      alt=""
                      srcset=""
                    />
                    <strong>
                      {{ member.cards.yellow }}
                    </strong>
                  </div>
                  <div class="d-flex mx-2 align-items-center">
                    <img
                      class="card me-1"
                      src="../assets/red-card.png"
                      alt=""
                      srcset=""
                    />
                    <strong>
                      {{ member.cards.red }}
                    </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </section> 

  <div
      class="d-flex flex-column flex-xl-row flex-sm-column-reverse col-12 col-sm-12 col-md-6 col-lg-6 col-xl-7 col-xxl-8  overflow-auto"
    >
    <mat-card>
      <mat-card-content>
        <app-stadistics [tournament-id]="tournamentId"> </app-stadistics>
      </mat-card-content>
    </mat-card>
    

      <!-- <section
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-6 pt-2 p-xxl-1"
      >
        <mat-card
          *ngIf="registeredTeamsData && registeredTeamsData.data.length > 0"
        >
          <mat-card-content class="row justify-content-center d-flex">
            <section
              class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-12 col-xxl-6"
              *ngIf="registeredTeamsData && registeredTeamsData.data.length > 0"
            >
              <app-graph
                [title]="['Estado de inscripción', 'de los equipos']"
                [labels]="registeredTeamsData.labels"
                [data]="registeredTeamsData.data"
              >
              </app-graph>
            </section>
          
          </mat-card-content>
        </mat-card>
      </section> -->
    </div> 
  </div>
</div>
