<div
  class="d-flex w-100 justify-content-start align-items-center"
  *ngIf="user; else loading"
>
  <img [src]="img" alt="" srcset="" />

  <div class="d-flex flex-column align-items-start justify-content-start">
    <strong>
      {{ user.firstName | titlecase }} {{ user.secondName | titlecase }}
      {{ user.firstLastName | titlecase }}
      {{ user.secondLastName | titlecase }}
    </strong>
    <span>
      {{user.document}}
    </span>
  </div>
</div>
<ng-template #loading>
  <app-skeleton height="30px"></app-skeleton>
</ng-template>
