@import "./colors.scss";

.full-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.txt-primary {
  color: $primaryColor;
}
.txt-accent {
  color: $accentColor;
}
.txt-secondary {
  color: $secondaryColor;
}
.txt-warn {
  color: $warnColor;
}

.bgc-primary {
  background-color: $primaryColor !important;
}
.bgc-accent {
  background-color: $accentColor !important;
}
.bgc-secondary {
  background-color: $secondaryColor !important;
}
.bgc-warn {
  background-color: $warnColor !important;
}

.border-solid-primary {
  border: 1px solid $primaryColor !important;
}
.border-top-solid-primary {
  border-top: 1px solid $primaryColor !important;
}
.border-solid-accent {
  border: 1px solid $accentColor !important;
}
.border-solid-secondary {
  border: 1px solid $secondaryColor !important;
}
.border-solid-warn {
  border: 1px solid $warnColor !important;
}

.cursor-pointer {
  cursor: pointer;
}
.app-chip {
  border: 1px solid gray;
  // color: $secondaryColor;
  padding: 3px 5px;
  margin: 2px;
  border-radius: 12px;
  min-width: 60px;
  text-align: center;
  cursor: pointer;
}

.draft {
  background-color: grey;
}
.check-in {
  background-color: darkgoldenrod;
}
.running {
  background-color: lightseagreen;
}
.finished {
  background-color: cornflowerblue;
}
.canceled {
  background-color: crimson;
}
.deleted {
  background-color: crimson;
}
