<h1 class="txt-primary">Estados de un torneo</h1>
<p>
  El estado de un torneo indica las acciones que se pueden realizar sobre él,
  además de expresarle a los usuarios cómo es la dinámica del mismo. Cada estado
  indica ciertas características en el momento.
</p>
<div class="container-fluid">
  <div class="row">
    <article class="col">
      <h2 class="txt-secondary">Borrador</h2>
      <p>
        Indica que el torneo está en planeación, por tanto no les aparecerá a
        los deportistas. Solo lo puedes ver tú como organizador.
      </p>
    </article>

    <article class="col">
      <h2 class="txt-secondary">En inscripciones</h2>
      <p>
        En este estado, el torneo se encuentra debidamente estructurado y ha
        sido abierto para el público en general.
      </p>
    </article>

    <article class="col">
      <h2 class="txt-secondary">En curso</h2>
      <p>
        Indica que el torneo ya pasó por la etapa de inscripciones (si la tuvo)
        y que está en marcha.
      </p>
    </article>

    <article class="col">
      <h2 class="txt-secondary">Finalizado</h2>
      <p>
        Cuando el torneo se ejecute en su totalidad, el estado será finalizado. Ya
        no se podrán realizar acciones de edición sobre el torneo. Cancelado: Si
        existe alguna eventualidad que impida el normal desarrollo del torneo, este
        es el estado que adoptará el mismo.
      </p>
    </article>
    <article class="col">
      <h2 class="txt-secondary">Eliminado</h2>
      <p>
        Cuando un torneo se desea eliminar, pero ya fue publicado, es decir que
        entró en estado de Inscripciones o cualquier otro diferente a Borrador, en
        lugar de eliminarse del sistema, se configura este estado. El público no
        podrá verlo.
      </p>
    </article>
  </div>
</div>


