:host {
  mat-card {
    padding-left: 0;
    padding-right: 0;
  }
  img {
    width: 100%;
    cursor: pointer;
  }
  > .number{
    position: relative;
    top: 26px;
    left: 2px;
    z-index: 8;
    width: 32px;
    height: 24px;
    padding: 2px;
    span{
      line-height: 24px;
    }
  }
}
