<mat-expansion-panel (closed)="isExpanded = false" (opened)="isExpanded = true" [expanded]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="me-2"> tune </mat-icon>
      Filtros
      <span class="ms-2 text-muted" *ngIf="!isExpanded && description">({{ description }})</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="!!filters && !!filters.length && !!formGroup">
    <form [formGroup]="formGroup" class="">
      <div class="row">
        <mat-form-field
          appearance="outline"
          *ngFor="let item of filters"
          class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 filter-field"
        >
          <ng-container *ngIf="!item.values">
            <mat-label>{{ item.display }}</mat-label>
            <mat-icon matSuffix *ngIf="item.icon">{{ item.icon }}</mat-icon>
            <input matInput [formControlName]="item.property" />
          </ng-container>
          <ng-container *ngIf="item.values">
            <mat-label>{{ item.display }}</mat-label>
            <mat-icon matSuffix *ngIf="item.icon">{{ item.icon }}</mat-icon>
            <mat-select [formControlName]="item.property" id="">
              <mat-option
                *ngFor="let option of item.values"
                [value]="option.value"
              >
                {{ option.display }}
              </mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </div>
    </form>
    <mat-divider class="mb-2"></mat-divider>
    <button
      mat-raised-button
      color="primary"
      class="px-3"
      (click)="onChangeForm()"
    >
      <mat-icon> search </mat-icon>
      Buscar
    </button>
    <button
      mat-raised-button
      color="warn"
      class="ms-2 px-3"
      (click)="clearForm()"
    >
      <mat-icon>delete </mat-icon>

      Limpiar
    </button>
  </ng-container>
</mat-expansion-panel>
